/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/* fonts */
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
/* specification */
html, body, h1, h2, h3, h4, h5, h6,
p, a, div, span, section, table, tr,
td, img, label, input {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  overflow: visible;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.test_button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main_button {
  background-color: #D34085;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
}

.main_button_back {
  background-color: white;
  width: 57px;
  height: 57px;
  outline: none;
  border: none;
  border-radius: 50%;
  border: solid #eaeaea 1px;
  color: #81858F;
  font-size: 18px;
  margin-right: 15px;
}

.test_button {
  position: absolute;
  bottom: 18px;
  right: 30px;
}

.test_line {
  width: 100%;
  height: 1px;
  background-color: #E6E6E6;
  margin: 0 -30px 85px;
  position: absolute;
  bottom: 0;
}

.text {
  border-radius: 15px;
  background-color: #EDEDED;
  padding: 10px 20px;
}

.input_form {
  display: block;
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  border: solid #E6E6E6 1px;
  color: #999999;
  background-color: white;
}

/* main */
.main {
  display: flex;
  height: 100vh;
}
.main .main_img img {
  height: 100%;
  margin-top: -50px;
}
.main .bg_main_content {
  display: flex;
  align-self: center;
  background-color: white;
  z-index: 10;
}
.main .bg_main_content .main_content {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: -7%;
  padding: 0 20px;
}
.main .bg_main_content .main_content .line {
  display: block;
  background-color: #363636;
  margin-bottom: 1rem;
  height: 3px;
  width: 40px;
}
.main .bg_main_content .main_content .main_title {
  font-size: 30px;
  font-weight: 700;
  color: #363636;
}
.main .bg_main_content .main_content .main_text {
  font-size: 18px;
  color: rgba(54, 54, 54, 0.7);
}
.main .bg_main_content .main_content .btn_wrapper {
  position: relative;
}
.main .bg_main_content .main_content .btn_wrapper .main_icon {
  position: absolute;
  width: 20px;
  top: 20px;
  left: 29px;
}
.main .bg_main_content .main_content .foot {
  position: absolute;
  bottom: 30px;
  font-size: 10px;
}
.main .bg_main_content .main_content .main_button {
  padding-left: 55px;
}

/* test */
.test {
  height: 100vh;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
}
.test .test_content {
  background-color: white;
  min-width: 1000px;
  min-height: 600px;
  margin-top: 50vh;
  transform: translate(0, -50%);
  box-shadow: 0 0 15px #c8c8c8;
  border: solid #EDEDED 5px;
}
.test .test_button {
  display: flex;
  justify-content: flex-end;
}

#test_button_three, #test_button_two, #test_button_one {
  opacity: 0.7;
}

/* radio */
#radio_one, #radio_two, #radio_three {
  display: none;
}

.label_check:before {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  border-radius: 50%;
  position: absolute;
  transform: translate(-30px, 0);
}

.label_check:after {
  content: " ";
  width: 12px;
  height: 12px;
  background-color: #D34085;
  border-radius: 50%;
  position: absolute;
  transform: translate(-26px, 4px);
  opacity: 0;
}

.check:checked + .label_check:after {
  opacity: 1;
}

/* drop_list */
.drop_list {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 24px;
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  border: solid #E6E6E6 1px;
  color: #999999;
  background-color: white;
  position: relative;
}
.drop_list #one_choice, .drop_list #two_choice {
  display: none;
}
.drop_list option {
  font-size: 24px;
  display: block;
  color: black;
  padding: 15px;
  background-color: white;
}

.arrow {
  position: relative;
}

.drop_arrow:before, .drop_arrow:after {
  content: "";
  background-color: #D34085;
  width: 22px;
  height: 3px;
  position: absolute;
}

.drop_arrow:before {
  top: -37px;
  right: 44px;
  transform: rotate(45deg);
}

.drop_arrow:after {
  top: -37px;
  right: 30px;
  transform: rotate(-45deg);
}

.drop_arrow_two:before, .drop_arrow_two:after {
  content: "";
  background-color: #D34085;
  width: 22px;
  height: 3px;
  position: absolute;
}

.drop_arrow_two:before {
  transform: rotate(45deg);
  top: -36px;
  right: 37px;
}

.drop_arrow_two:after {
  transform: rotate(-45deg);
  top: -36px;
  right: 23px;
}

.content_inside {
  padding: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.content_inside_one {
  position: absolute;
  width: 100%;
}
.content_inside_one .test_title {
  font-size: 28px;
  margin-bottom: 20px;
}
.content_inside_one .answer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content_inside_one .answer input {
  align-self: center;
  margin-right: 10px;
}
.content_inside_one .answer label {
  display: block;
  align-self: center;
  width: 49%;
  margin-bottom: 15px;
  border: solid #E6E6E6 1px;
  display: flex;
  padding: 12px 30px 12px 50px;
  border-radius: 5px;
}

.content_inside_two .test_title {
  font-size: 28px;
  margin-bottom: 25px;
}

.content_inside_three .test_title {
  font-size: 28px;
  margin-bottom: 25px;
}

/* view_organization */
.content_inside_four {
  display: flex;
  justify-content: space-between;
}
.content_inside_four .view_organization {
  background: url(../img/iPhine-x.png) no-repeat center top/cover;
  width: 260px;
  height: 530px;
}
.content_inside_four .middle {
  width: 67%;
  order: 5;
}
.content_inside_four .middle .test_title {
  font-size: 36px;
}
.content_inside_four .middle .go_fix {
  margin-top: 80px;
  font-size: 24px;
  display: block;
}
.content_inside_four .middle .noticed {
  font-size: 20px;
  display: block;
  position: absolute;
  bottom: 80px;
}
.content_inside_four .middle .test_line {
  width: 64%;
  margin: 0 0 80px;
  bottom: 0;
  right: 30px;
}

/* API */
.view_wrapper {
  padding: 62px 16px 20px;
  height: 100%;
}
.view_wrapper > * {
  font-family: "Roboto";
}
.view_wrapper .view_title {
  white-space: pre-wrap;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
  background-color: white;
  margin-bottom: 0;
  padding: 4px 0;
}
.view_wrapper .open {
  display: block;
  background-color: white;
  margin: 50px 0 0 30px;
  font-size: 12px;
  font-family: "Roboto";
}
.view_wrapper .work_time {
  height: 35px;
  background: white;
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-around;
}
.view_wrapper .work_time div {
  display: inline;
}
.view_wrapper .work_time div span {
  font-family: "Roboto";
  text-align: center;
  display: flex;
  font-size: 8px;
}
.view_wrapper .phones {
  display: block;
  font-size: 9px;
  margin: 56px 0 0 40px;
  font-family: "Roboto";
}
.view_wrapper .address {
  margin: 65px 0 0 39px;
  font-size: 12px;
}

/* form-1 */
.content_inside_five {
  position: absolute;
}
.content_inside_five .test_title {
  font-size: 28px;
}
.content_inside_five .text {
  margin: 60px 0 250px;
  font-size: 24px;
  display: block;
}

.page_form {
  margin-top: 20px;
}

/* .content_inside_five .page_form {
	margin-top: 20px;
	.org_name {
		font-size: 28px;
		margin-bottom: 0;
	}
} */
/* form-2 */
.content_inside_six {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_six .test_title {
  font-size: 28px;
}
.content_inside_six .add {
  font-size: 24px;
  text-align: right;
  position: absolute;
  bottom: 90px;
  right: 30px;
}
.input_form_label {
  margin-top: 10px;
  color: #d34085;
  font-weight: 700;
}

.input_form {
  font-size: 24px;
  position: relative;
  margin-bottom: 10px;
}
.input_form:hover {
  border: solid #d34085 1px;
}

/* form-3 */
.content_inside_seven {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_seven .test_title {
  font-size: 28px;
}
.content_inside_seven .text {
  margin: 60px 0 290px;
  font-size: 24px;
  display: block;
}

.time_table {
  text-align: center;
  margin-top: 5px;
}
.time_table tr .line_time span {
  position: relative;
  display: block;
}
.time_table tr .line_time span:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #bbb;
  right: 50%;
  transform: translate(50%, 0);
}
.time_table tr td {
  width: 120px;
  height: 47px;
}
.time_table tr td:nth-child(1) {
  font-size: 20px;
}
.time_table tr td:nth-child(1), .time_table tr td:nth-child(3) {
  width: 80px;
}
.time_table tr td:nth-child(2) input, .time_table tr td:nth-child(4) input {
  width: 120px;
  border: none;
  border-radius: 5px;
  border: solid #aeaeae 1px;
  text-align: center;
  outline: none;
  padding: 5px;
}
.time_table tr:nth-child(1) td {
  font-size: 18px;
}

.table_check_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.table_check {
  position: relative;
}
.table_check:before, .table_check:after {
  display: block;
  position: absolute;
  content: "";
  border-radius: 5px;
}
.table_check:before {
  width: 30px;
  height: 30px;
  right: -14px;
  bottom: -6px;
  border: solid #aeaeae 1px;
}
.table_check:after {
  width: 14px;
  height: 14px;
  right: -6px;
  bottom: 2px;
  opacity: 0;
  transition: 0.3s;
  background-color: #d34085;
}

.table_check_input:checked + .table_check:after {
  opacity: 1;
}

/* form-4 */
.content_inside_eight {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_eight .test_title {
  font-size: 28px;
}
.content_inside_eight .text {
  margin: 60px 0 290px;
  font-size: 24px;
  display: block;
}

.phone_block, .btn_block {
  display: flex;
  margin-bottom: 10px;
}
.phone_block div, .btn_block div {
  margin-right: 30px;
}
.phone_block div:nth-child(1), .btn_block div:nth-child(1) {
  flex-basis: 400px;
}
.phone_block .number_plus, .phone_block .number_close, .btn_block .number_plus, .btn_block .number_close {
  margin-right: 0;
}

.number_plus, .number_close {
  position: relative;
  width: 30px;
  margin: 50px 0 25px 0;
}
.number_plus span, .number_close span {
  position: absolute;
  left: 0;
  bottom: 11px;
}
.number_plus span:before, .number_close span:before {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #D34085;
}
.number_plus span:after, .number_close span:after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  left: 0;
  bottom: 0;
  transform: rotate(90deg);
  background-color: #D34085;
}

.number_close {
  margin: 15px 0 25px 0;
}
.number_close span:before {
  transform: rotate(-45deg);
}
.number_close span:after {
  transform: rotate(45deg);
}

.phone_block:not(.phone_main) {
  display: none;
}

/* form-5 */
.content_inside_nine {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_nine .test_title {
  font-size: 28px;
}
.content_inside_nine .text {
  margin: 60px 0 290px;
  font-size: 24px;
  display: block;
}

/* form-6 */
.content_inside_ten {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_ten .test_title {
  font-size: 28px;
}
.content_inside_ten .text {
  margin: 60px 0 0;
  font-size: 24px;
  display: block;
}
.content_inside_ten .buttons_example {
  position: absolute;
  bottom: 80px;
  width: 100%;
  right: 0;
}
.content_inside_ten .buttons_example .example_text {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.content_inside_ten .buttons_example .buttons {
  display: flex;
  justify-content: center;
}
.content_inside_ten .buttons_example .buttons div {
  text-transform: uppercase;
  font-size: 11px;
  width: 160px;
  padding: 12px 20px;
  text-align: center;
  border-radius: 50px;
  margin: 0 10px 20px 10px;
}
.content_inside_ten .buttons_example .buttons div:first-child {
  border: solid #4380B6 1px;
  background-color: white;
  color: #4380B6;
}
.content_inside_ten .buttons_example .buttons div:last-child {
  background-color: #4380B6;
  color: white;
}

.btn_block {
  display: flex;
  margin-bottom: 10px;
}
.btn_block .input_form {
  padding: 8px 15px;
}
.btn_block .number_plus span {
  bottom: 35px;
}
.btn_block div {
  margin-right: 30px;
}
.btn_block div .type_inp_form {
  width: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.btn_block div .type_cont {
  width: 120px;
  margin: 3px 0;
}
.btn_block div .type_cont label {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.btn_block div .type_cont .r_type_btn {
  position: relative;
}
.btn_block div .type_cont .r_type_btn:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  border: solid #aeaeae 1px;
}
.btn_block div .type_cont .r_type_btn:after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  left: 5px;
  opacity: 0;
  bottom: 9px;
  border-radius: 50%;
  background-color: #D34085;
}
.btn_block div .type_inp_form:checked + .r_type_btn:after {
  opacity: 1;
}
.btn_block div:nth-child(1) {
  flex-basis: 180px;
  margin-right: 0;
}

.content_inside_ten .number_plus, .content_inside_ten .number_close {
  position: relative;
  width: 30px;
  margin: 15px 0 0px 0;
}

.content_inside_ten .number_close {
  margin: 15px 0 25px 0;
}

.add_btn_block_two, .add_btn_block_one {
  display: none;
}

.content_inside_ten .btn_block div .type_inp_form {
  width: 0;
  display: none;
}

/* form-7 */
.content_inside_eleven {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_eleven .test_title {
  font-size: 28px;
}
.content_inside_eleven .text {
  margin: 60px 0 290px;
  font-size: 24px;
  display: block;
}

#desc {
  font-size: 24px;
  height: 265px;
}
#desc:hover {
  border: solid #d34085 1px;
}

/* form-8 */
.content_inside_twelve {
  position: absolute;
  width: 100%;
  height: 100%;
}
.content_inside_twelve .test_title {
  font-size: 28px;
}
.content_inside_twelve .text {
  margin: 20px 0 0;
  font-size: 24px;
  display: block;
  border-radius: 20px;
  background-color: #EDEDED;
  padding: 15px 30px;
}
.content_inside_twelve .promise {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
.content_inside_twelve .main_button {
  background-color: #c07296;
}

/* drop_menu */
.drop_menu .drop_list input {
  width: 100%;
  border: none;
  outline: none;
}
.drop_menu .drop_content {
  border: solid #D34085 1px;
  border-top: none;
  display: none;
}
.drop_menu .drop_content .elastic {
  padding: 0;
  margin: 0;
}
.drop_menu .drop_content .elastic li {
  list-style: none;
  background: white;
  padding: 7px 10px;
}
.drop_menu .drop_content .elastic li:hover {
  background-color: #eee;
}

.drop_menu .drop_activ {
  display: block;
}

.special_fix {
  height: auto;
  padding-bottom: 0;
}

.content_inside_one {
  display: none;
}

.content_inside_two {
  display: none;
}

.content_inside_three {
  display: none;
}